video {
    vertical-align: middle;
}

div {
    overflow: hidden;
}

p {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}

.navbar {
    opacity: 0.9
}

.textContent {
    padding-left:   20px;
    padding-right:  20px;
    padding-top:    20px;
    padding-bottom: 20px;
    text-align:center;
    font-size: 2vw;
    
}

@media only screen 
    and (max-device-width: 980px), 
    only screen and (max-device-width: 980px), 
    only screen and (max-width: 980px)
    {font-size: 6vw; }



.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.longImage {
    position:relative;
    height:auto;
    width:100%;
    
}

.longImage2 {
    position:relative;
    height:auto;
    width:200px;

}


.squarePictures {
    margin-bottom: 15px;
    margin-top: 15px;
}
.squarePictures .squaresLeft {
    padding-left: 30px;
    padding-right: 7.5px;
}
.squarePictures .squaresRight {
    padding-left: 7.5px;
    padding-right: 30px;
}

.overlay {
    position: absolute;
    width:100%;
    text-align:center;
    padding: 10% 0;
    color: white;
    z-index: 1;
    font-size: 9vw;
}

.overlayTitle {
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: white;
}


.overlayVideo {
    position:absolute;
    top:5%;
    left:0;
    z-index:1;
}

.blackwhite {
     filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}

.entryItem {
    transition: all .5s ease-in-out; 
}

.entryItem:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
}


.icon {
    bottom: 0%;
}

.coin {
    position: fixed;
    width: 100px;
    height: 100px;
    left: -2%;
    top: -2%;
    animation-name: moveDownRight;
    animation-duration: 1s;
    -webkit-animation-name: moveDownRight;
    -webkit-animation-duration: 1s;
}

@keyframes moveDownRight {
    from { left: -54%; top: -54%;}
    to { left: -2%; top: -2%;}
}

@-webkit-keyframes moveDownRight {
    from { left: -54%; top: -54%;}
    to { left: -2%; top: -2%;}
}

.lensCap {
    position: fixed;
    width: 100px;
    height: 15%;
    right: 0%;
    animation-name: moveUp;
    animation-duration: 1s;
    -webkit-animation-name: moveUp;
    -webkit-animation-duration: 1s;
}
.misc {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 0%;
    animation-name: moveUp;
    animation-duration: 1s;
    -webkit-animation-name: moveUp;
    -webkit-animation-duration: 1s;
}

.coins {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: -5%;
    animation-name: moveSlightlyUp;
    animation-duration: 1s;
    -webkit-animation-name: moveSlightlyUp;
    -webkit-animation-duration: 1s;
}

@keyframes moveSlightlyUp {
    from {  bottom: -44%;}
    to {bottom: -5%;}
}

@keyframes moveUp {
    from {  bottom: -44%;}
    to {bottom: 0%;}
}

@-webkit-keyframes moveUp {
   from {  bottom: -44%;}
    to {bottom: 0%;}
}

.skiPass {
    position: fixed;
    width: 100px;
    height: 100px;
    right: 0%;
    transform: rotate(90deg);
    animation-name: moveLeft;
    animation-duration: 1s;
    -webkit-animation-name: moveLeft;
    -webkit-animation-duration: 1s;
}

@keyframes moveLeft {
    from {right: -44%;}
    to {right: 0%;}
}

@-webkit-keyframes moveLeft {
    from {right: -44%;}
    to {right: 0%;}
}

.center {
    position: relative;
    margin: auto;
    width: 60%;
    padding: 10px;
}


.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px solid silver;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.nowrap  {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-item {
    position: relative;
    padding: 5px;
    width: 100%;
    height: auto;
    margin: 10px;

    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}


@media only screen and (min-width: 600px) {
    .flex-item {
        padding: 5px;
        width: 48%;
        margin: auto;
        margin-bottom: 10px;
        line-height: 100px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

    .flex-container {
        width: 100%;
        margin: auto;
    }

    .overlay{
        font-size: 4vw;
    }
}

@media only screen and (min-width: 1024px) {
    .flex-item {
        padding: 5px;
        width: 30%;
        margin: auto;
        height: auto;

        line-height: 100px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
    }

    .overlay {
        font-size: 3vw;
    }

}