video {
    vertical-align: middle;
}

div {
    overflow: hidden;
}

p {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
}

.textContent {
    padding-left:   20px;
    padding-right:  20px;
    padding-top:    20px;
    padding-bottom: 20px;
    text-align:center;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.longImage {
	position:relative;
    height:auto;
    width:100%;
	
}


.squarePictures {
	margin-bottom: 15px;
	margin-top: 15px;
}
.squarePictures .squaresLeft {
	padding-left: 15px;
	padding-right: 7.5px;
}
.squarePictures .squaresRight {
	padding-left: 7.5px;
	padding-right: 15px;
}

.overlay {
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: white;
}

.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}

.link {
    transition: all 1.5s ease-in-out; 
}
.link:hover { 
    transform: scale(1.5);
    -webkit-transform: scale(1.5); 
 }



.icon {
    bottom: 0%;
}

.coin {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -2%;
    top: -2%;
    animation-name: moveDownRight;
    animation-duration: 2s;


}

@keyframes moveDownRight {
    from { left: -5%; top: -5%;}
    to { left: -2%; top: -2%;}
}

@-webkit-keyframes moveDownRight {
    from { left: -54%; top: -54%;}
    to { left: -2%; top: -2%;}
}

.lensCap {
    position: absolute;
    width: 100px;
    height: 15%;
    right: 0%;
    animation-name: moveUp;
    animation-duration: 2s;
    -webkit-animation-name: moveUp;
    -webkit-animation-duration: 2s;
}
.misc {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0%;
    animation-name: moveUp;
    animation-duration: 2s;
    -webkit-animation-name: moveUp;
    -webkit-animation-duration: 2s;
}

.coins {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    animation-name: moveUp;
    animation-duration: 2s;
    -webkit-animation-name: moveUp;
    -webkit-animation-duration: 2s;
}

@keyframes moveUp {
    from {bottom: -4%;}
    to {bottom: 0%;}
}

@-webkit-keyframes moveUp {
    from {bottom: -44%;}
    to {bottom: 0%;}
}

.skiPass {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0%;
    transform: rotate(90deg);
    animation-name: moveLeft;
    animation-duration: 2s;
-webkit-transform: translateZ(0);

}

@keyframes moveLeft {
    from {right: -4%;}
    to {right: 0%;}
}

@-webkit-keyframes moveLeft {
    from {right: -44%;}
    to {right: 0%;}
}

