div {
    overflow: hidden;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.longImage {
	position:relative;
    height:auto;
    width:100%;
	
}


.squarePictures {
	margin-bottom: 15px;
	margin-top: 15px;
}
.squarePictures .squaresLeft {
	padding-left: 15px;
	padding-right: 7.5px;
}
.squarePictures .squaresRight {
	padding-left: 7.5px;
	padding-right: 15px;
}

.overlay {
    position: absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: white;
}

#zoom {
    -skrollr-animation-name:zoomAnimation;
}

@-skrollr-keyframes zoomAnimation {
    100 {
        transform:scale(1);
    }

    400 {
        transform:scale(1.5);
    }
}

#moveLeft {
    -skrollr-animation-name:moveLeftAnimation;
}

@-skrollr-keyframes moveLeftAnimation {
    100 {
        transform:scaleX(2);
        left: 0%;

    }

    400 {
        left: 30%;
    }
}

p {
    font-family: "Times New Roman", Times, serif;
}