<!DOCTYPE html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./nardo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./skrollr.js"></script>
    <script type="text/javascript">

    $(window).load(function($){ var s = skrollr.init(); });

    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48523000-4', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    

  


  </head>

  <body ng-app='PlatformApp'>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=494480627385214";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <div id = "skrollr-body" class="container-fluid" ng-controller = 'PlatformCtrl'>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/2.jpg" imgClass ="longImage"/></div>
          <p class="overlay" style="color:#FFFFFF;font-weight:regular;font-family:times new roman,serif; font-size:4vw;" > Ice Caves in the Northern Cascades </p>
          <p class="overlay" style="top:70%; font-weight:regular;font-family:times new roman,serif;color:#FFFFFF;line-height:40px; font-size:2vw;"> Photography: Nardo + Amy </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
          <p> Staying friends with people who move away is no easy thing. Time passes new friends come up and life goes on, but if you manage to keep the friend its totally worth it. Every summer Amy comes to visit home but it took 10 years for me to finally make the trip out to her new home. Despite the constant strong rain near Seattle, Washington has a great deal of beauty to offer for those willing to go out and see it.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
          <h3>Day 1.</h3> <hr>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/7.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/8.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

	    <br/>

      <div class="row no-gutters">
        <div id ="" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div  my-widget  topskrollr= "transform:scale(1.5);" bottomskrollr = 'transform:scale(1);' imgClass="longImage" file="./washingtonSet/17.jpg" /></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div my-widget file="./washingtonSet/12.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/19.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/28.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/26.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/girl.gif" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/36.jpg" imgClass ="longImage"/></div>   
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/guy.gif" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/37.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div  my-widget  topskrollr= "transform:scale(1);" bottomskrollr = 'transform:scale(1.5);' imgClass="longImage" file="./washingtonSet/50.jpg" /></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/58.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/69.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>


      <div class="row squarePictures">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresLeft">
          <div my-widget file="./washingtonSet/16.jpg" imgClass ="longImage"/></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresRight">
          <div my-widget file="./washingtonSet/67.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/79.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row squarePictures">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresLeft">
        <div my-widget file="./washingtonSet/75.jpg" imgClass ="longImage"/></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresRight">
          <div my-widget file="./washingtonSet/77.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/80.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/84.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/81.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/83.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div  my-widget  topskrollr= "transform:scale(1);" bottomskrollr = 'transform:scale(1.5);' imgClass="longImage" file="./washingtonSet/85.jpg" /></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/87.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
          <h3>Day 2.</h3> <hr>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/90.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/92.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/101.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <br/>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/102.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row squarePictures">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresLeft">
          <div my-widget file="./washingtonSet/104.jpg" imgClass ="longImage"/></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresRight">
          <div my-widget file="./washingtonSet/105.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row squarePictures">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresLeft">
          <div my-widget file="./washingtonSet/106.jpg" imgClass ="longImage"/></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 squaresRight">
          <div my-widget file="./washingtonSet/110.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div my-widget file="./washingtonSet/800.jpg" imgClass ="longImage"/></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div style="padding:5px, 5px, 5px, 5px !important;"class="fb-like" data-href="http://nardoguy14.github.io" data-width="100%" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          <div class="fb-comments" data-href="http://nardoguy14.github.io" data-width="100%" data-numposts="5"></div>
        </div>
      </div>

          

    </div>


    
    

    <script>
      var x = angular.module('PlatformApp', []);

      x.controller('PlatformCtrl', ['$scope', function($scope) {
        console.log("hi");
      }]);

      x.directive("myWidget", function() {




        return {
          restrict: "EA",
          scope: true,
          replace: true,
          template: 
            " <div> "+
            "   <img data-bottom-top='{{topskrollr}}' data-top-bottom='{{bottomskrollr}}' ng-if=\"isMobile\" class=\"{{imgclass}}\" ng-src=\"{{small}}\" />    "+
            "   <img data-bottom-top='{{topskrollr}}' data-top-bottom='{{bottomskrollr}}' ng-if=\"!isMobile\" class=\"{{imgclass}}\" ng-src=\"{{source}}\" />  "+ 
            " </div>   ",
          link: function(scope, element, attributes) {

            var isMobile = {
                Android: function() {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function() {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function() {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function() {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function() {
                    return navigator.userAgent.match(/IEMobile/i);
                },
                any: function() {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows())
                }
            };

            if(isMobile.any())
              scope.isMobile = true;
            else
              scope.isMobile = false

            scope.source = attributes.file;

            index = function(i) { 
                  if ( i>=0 ) 
                    return i -1
                  else 
                    return null  
                }

             var smallSource = {
               
              png: function() {
                var indexNum = index(attributes.file.indexOf("png"))
                if(indexNum != null)
                  return attributes.file.substring(0, indexNum) + "_xs.png"
                else
                  return null
              },
              jpg: function() {
                var indexNum = index( attributes.file.indexOf("jpg"))
                if(indexNum != null)
                  return attributes.file.substring(0, indexNum) + "_xs.jpg"
                else
                  return null
              },
              jpeg: function() {
                var indexNum = index( attributes.file.indexOf("jpeg"))
                if(indexNum != null)
                  return attributes.file.substring(0, indexNum) + "_xs.jpeg"
                else
                  return null
              },
              gif: function() {
                var indexNum = index( attributes.file.indexOf("gif"))
                if(indexNum != null)
                  return attributes.file.substring(0, indexNum) + "_xs.gif"
                else
                  return null
              },
              any: function() {
                return ( smallSource.png() || smallSource.jpg() || smallSource.jpeg() || smallSource.gif())
              }
            };

            scope.small = smallSource.any()
            scope.imgclass =  attributes.imgclass;
            scope.topskrollr = attributes.topskrollr;
            scope.bottomskrollr = attributes.bottomskrollr;




          }
        };
      });
    </script>

  </body>

</html>