
<!-- main header content -->
<div class = "animated fadeInDown " >

<div class="row no-gutters">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <img class="longImage" src="{{header.picture.picture}}.jpg" />
        <p *ngIf = "header.title.upperTitle !== undefined"
           class = "overlay"
           style="top:30%;font-weight:regular;font-family:times new roman,serif;color:#FFFFFF;line-height:40px; font-size:2vw;">
            {{header.title.upperTitle}}</p>
        <p *ngIf = "header.title.mainTitle !== undefined"
           class = "overlay"
           style="color:#FFFFFF;font-weight:regular;font-family:times new roman,serif; font-size:4vw;" >
            {{header.title.mainTitle}}</p>
        <p *ngIf = "header.title.lowerTitle !== undefined"
           class = "overlay"
           style="top:70%; font-weight:regular;font-family:times new roman,serif;color:#FFFFFF;line-height:40px; font-size:2vw;">
            {{header.title.lowerTitle}} </p>
    </div>
</div>

<div *ngIf = "header.note !== undefined"  class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
        <p>{{header.note}}</p>
        <hr/>
    </div>
</div>



<!-- picture, picture set, text, and video content -->

<entryblock *ngFor="let entry of test" >
     <picture *ngIf = "isPicture(entry)">
         <div class="row no-gutters">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <img class="longImage" src="{{entry.picture}}.jpg"/>
             </div>
         </div>

         <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
                 <p>{{entry.note}}</p>
             </div>
         </div>
     </picture>


    <pictureSet *ngIf = "isPictureSet(entry)">
        <div [class.squarePictures]="entry.squarePictures" [class.no-gutters]="entry.gutters" class="row">
                <div *ngFor ="let aPicture of entry.pictures; let i = index" [class.squaresRight]=" true && i % 2 == 1 " [class.squaresLeft]="entry.squarePictures && i % 2 == 0" class = "col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                    <img class="longImage" src="{{aPicture.picture}}.jpg" />
                </div>
        </div>

        <div *ngIf =  "entry.note !== undefined" class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
                <p>{{entry.note}}</p>
            </div>
        </div>


    </pictureSet>

    <videoEntry *ngIf = "isVideo(entry)">
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <video class="longImage" width="100%" height="100%"  loop controls >
                    <source src="{{entry.source}}.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </videoEntry>

    <textEntry *ngIf = "isText(entry)">
        <div class="row textContent">
            <h3 *ngIf = "entry.header !== undefined">{{entry.header}}</h3>
            <div *ngIf = "entry.text !== undefined"  *ngFor = "let text of entry.text" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 textContent">
                <p>{{text}}</p>
            </div>
        </div>
    </textEntry>

</entryblock>

<!-- fb comment area -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=494480627385214";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="padding:5px, 5px, 5px, 5px !important;"class="fb-like" data-href="http://nardoguy14.github.io" data-width="100%" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        <div class="fb-comments" data-href="http://nardoguy14.github.io" data-width="100%" data-numposts="5"></div>
    </div>
</div>

    </div>